<div class="container">
  <p id="notice"><%= notice %></p>
  <h1>Welcome to your Personal Email Viewer!</h1>
  <div class="row">
    <div class="col-lg-offset-4 col-lg-4">
      <table class="table table-striped">
        <tr>
          <th style="text-align: center;">Email list</th>
        </tr>
        <% @emails.each do |email| %>
        <tr>
          <% if email.read == true %>
          <td id="object_<%= email.id %>" class="read" ><%= link_to email.object, email_path(email), remote: true %></td>
          <% else %>
          <td id="object_<%= email.id %>" class="ur" ><%= link_to email.object, email_path(email), remote: true %></td>
          <% end %>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="col-lg-8">
      <table class="table table-striped">
        <tr>
          <th style="text-align: center;">Body</th>
        </tr>
      </table>
      <% @emails.each do |email| %>
      <div id="mail_<%= email.id %>" class="emailcontent" style="display: none;" >
        <div class="row" id="box">
          <h1><%= email.object %></h1><br>
          <p><%= email.body %></p>
          <br/>
          <%= link_to email, remote: true, method: :delete, class: 'delete_email' , data: { confirm: "I told you! Don't do it!!!" } do %>
          <br/>
          <div>
            <button type="button" class="btn btn-danger">Don't do it!</button>
          </div>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
